/* budgetManager.css */
.budget-manager {
  height: 100vh;
  background-image: url("../images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh; /* Set height to viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

@media (max-width: 900px) {
  .pages {
    height: auto;
    overflow: auto;
  }
}