/* budgetManager.css */
.budget-manager {
  height: 100vh;
}

.side-menu {
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}