/* GraphCard */

.graph-card {
  margin: 0 auto; 
  background: linear-gradient(0deg, rgba(7,89,133,0.8) 0%, rgba(56,189,248,0.8) 100%) !important;
}

.graph-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.graph-card-title {
  color: #0c4a6e;
  font-weight: bolder !important;
  align-self: center;
}

.line-chart {
  align-self: center;
  flex-grow: 1;
}