/* SideMenu.css */
.side-menu {
    background: rgb(7,89,133);
    background: linear-gradient(0deg, rgba(7,89,133,0.6) 0%, rgba(56,189,248,0.6) 100%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.side-menu .MuiList-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu .menu-item {
    display: flex;
    flex-direction: column; /* Adjust flex direction to column for icon above text */
    justify-content: center;
    align-items: center; /* Align items to the center */
    width: 100%;
    text-align: center;
    color: white;
}

.menu-item:hover .stack-text {
    color: white;
}

.stack-text {
    color: #bae6fd;
}

@media (max-width: 900px) {
    .side-menu .MuiList-root {
        flex-direction: row;
        justify-content: space-around;
    }

    .side-menu .menu-item {
        white-space: nowrap; /* Prevents the text from breaking onto the next line */
    }
}