/* ajouterDepensesCard.css */
.expense-card {
  padding: 24px;
  max-width: 400px;
  margin: 20px auto;
  background: linear-gradient(0deg, rgba(7,89,133,0.8) 0%, rgba(56,189,248,0.8) 100%) !important;
}

/* For the label text */
.expense-card .MuiFormLabel-root {
  color: white;
}

/* For the input text */
.expense-card .MuiInputBase-input {
  color: white;
}

/* For the label when it's focused */
.expense-card .Mui-focused .MuiFormLabel-root {
  color: white;
}

/* For the input underline when it's focused */
.expense-card .Mui-focused .MuiInput-underline::after {
  border-bottom-color: white;
}

.expense-card .MuiInputLabel-outlined.Mui-focused {
  color: white;
}

.expense-card .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.expense-card .Mui-focused .MuiInputBase-input {
  color: white;
}

.expense-title {
  color: white;
  font-weight: bolder !important;
  align-self: center;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}